@{
    ViewBag.Title = "Trang chủ";
}
@model List<SupTranGiaTichDiem.Models.Reward>
<div class="d-flex ">
    <div class="p-2">
        <h4 class=" note note-warning">
            <i class="fa-solid fa-newspaper fa-lg" style="color: #FFD43B;"></i> <strong class="  font-family: 'Lato, sans-serif';">Bài viết</strong>
        </h4>
    </div>

    <div class="ms-auto p-2">
        <button type="button" class="btn btn-warning" data-mdb-ripple-init>
            <i class="fas fa-border-all fa-lg d-inline" style="color: #fffefe;"></i>
            <p class="d-inline"> Xem tất cả</p>
        </button>
    </div>
</div>
<!--Main layout-->
<div class="">
    <!--Section: News of the day-->
    <section class="border-bottom pb-4 mb-5 ">
        <div class="row gx-5 pt-4" style="background-color: #585555; border-radius: 10px;">
            <div class="col-md-6 mb-4">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src="https://trangiafnb.com/wp-content/uploads/2022/11/4761555-1400x448.jpg" class="img-fluid" />

                </div>
            </div>

            <div class="col-md-6 mb-4 ">
                <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">Bài viết mới trong ngày</span>
                <h4><strong>Chương trình ưu đãi 10%</strong></h4>
                <p class=" text-light">
                    Chương trình áp dụng từ thứ 7 và chủ nhật hàng tuần từ 18:00 đến 21:00
                </p>
                <button type="button" class="btn btn-warning" data-mdb-ripple-init data-mdb-ripple-color="dark">
                    Đọc
                    thêm
                </button>
            </div>
        </div>
    </section>
    <!--Section: News of the day-->
    <!--Section: Content-->
    <section class="">
        <div class="row gx-lg-5">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 ">
                <!-- News block -->
                <div>
                    <!-- Featured image -->
                    <div class="news">
                        <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4" data-mdb-ripple-color="light">
                            <img src="https://trangiafnb.com/wp-content/uploads/2022/11/BANNER-SOUP-TRAN-GIA.jpg"
                                 class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>

                        <!-- Article data -->
                        <div class="">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <a href="" class="text-info">
                                        <i class="fas fa-plane"></i>
                                        Travels
                                    </a>
                                </div>

                                <div class="col-6 text-end">
                                    <u> 15.07.2020</u>
                                </div>
                            </div>

                            <!-- Article title and description -->
                            <a href="" class="text-light ">
                                <h5>This is title of the news</h5>

                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
                                    id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
                                    adipisci iusto nam temporibus modi animi laboriosam?
                                </p>
                            </a>
                        </div>
                    </div>





                </div>
                <!-- News block -->
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- News block -->
                <div>
                    <!-- Featured image -->
                    <div class="news">
                        <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4" data-mdb-ripple-color="light">
                            <img src="https://trangiafnb.com/wp-content/uploads/2022/11/BANNER-SOUP-TRAN-GIA.jpg"
                                 class="img-fluid" alt="Brooklyn Bridge" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>

                        <!-- Article data -->
                        <div class="row mb-3">
                            <div class="col-6">
                                <a href="" class="text-danger">
                                    <i class="fas fa-chart-pie"></i>
                                    Business
                                </a>
                            </div>

                            <div class="col-6 text-end">
                                <u> 15.07.2020</u>
                            </div>
                        </div>

                        <!-- Article title and description -->
                        <a href="" class="text-light">
                            <h5>This is title of the news</h5>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
                                id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
                                adipisci iusto nam temporibus modi animi laboriosam?
                            </p>
                        </a>
                    </div>






                </div>

            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- News block -->
                <div>
                    <!-- Featured image -->
                    <div class="news">
                        <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4" data-mdb-ripple-color="light">
                            <img src="https://trangiafnb.com/wp-content/uploads/2022/11/BANNER-SOUP-TRAN-GIA.jpg"
                                 class="img-fluid" alt="Golden Gate National Recreation Area" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>

                        <!-- Article data -->
                        <div class="row mb-3">
                            <div class="col-6">
                                <a href="" class="text-warning">
                                    <i class="fas fa-code"></i>
                                    Technology
                                </a>
                            </div>

                            <div class="col-6 text-end">
                                <u> 15.07.2020</u>
                            </div>
                        </div>

                        <!-- Article title and description -->
                        <a href="" class="text-light">
                            <h5>This is title of the news</h5>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
                                id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
                                adipisci iusto nam temporibus modi animi laboriosam?
                            </p>
                        </a>
                    </div>



                </div>

            </div>
        </div>
    </section>
    <!--Section: Content-->
    <!-- Pagination -->
    <div class="col-12">
        <div class="pagination d-flex justify-content-center mt-5">
            <a href="#" class="rounded">&laquo;</a>
            <a href="#" class="active rounded">1</a>
            <a href="#" class="rounded">2</a>
            <a href="#" class="rounded">3</a>
            <a href="#" class="rounded">4</a>
            <a href="#" class="rounded">5</a>
            <a href="#" class="rounded">6</a>
            <a href="#" class="rounded">&raquo;</a>
        </div>
    </div>

</div>
<!--Main layout-->


<div class="d-flex mt-5">
    <div class="p-2">
        <h4 class=" note note-warning">
            <i class="fab fa-product-hunt fa-lg" style="color: #FFD43B; "></i> <strong class="  font-family: 'Lato, sans-serif';">Sản phẩm mới </strong>
        </h4>
    </div>

    <div class="ms-auto p-2">
        <a href="~/Home/ListSanPham" class="btn btn-warning" data-mdb-ripple-init>
            <i class="fas fa-border-all fa-lg d-inline" style="color: #fffefe;"></i>
            <p class="d-inline"> Xem tất cả</p>
        </a>
    </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 mt-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="post">
                <div class="post-img" style="background-image: var(--post-img-hovered-overlay), url('@Url.Content("~/img/" + item.reward_image)');"></div>
                <a href="#" class="post-link">
                    <div class="post-img-hovered" style="background-image: var(--post-img-hovered-overlay), url('@Url.Content("~/img/" + item.reward_image)');"></div>
                </a>
                <div class="post-info">
                    <div class="post-about">
                        <a href="#" class="post-cat" style="width:80px">@item.Category.category_name</a>
                        <div class="post-time">
                            <div class="badge bg-warning" style="font-size: 15px;">@item.points_required điểm </div>
                        </div>
                    </div>
                    <h1 class="heading">@item.reward_name</h1>
                    <p class="post-desc">
                        <button type="button" class="btn btn-outline-warning" data-mdb-ripple-init
                                data-mdb-ripple-color="dark">
                            Đổi thưởng
                        </button>
                        <button type="button" class="btn btn-warning" data-mdb-ripple-init>Xem chi tiết</button>
                    </p>
                    <div class="post-creator">
                        <span class="text-light">
                            Ngày tạo: @(item.reward_date.HasValue ? item.reward_date.Value.ToString("dd/MM/yyyy") : "Không xác định")
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
